
.App {
  max-width: 100pc;
  font-size: x-small;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 10pt;
  border-radius: 5px;
  background: linear-gradient(#817f7f, #838181);
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: auto;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: center;
}
.upper-header {
  font-size:xx-large;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: auto;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #494a4d;
}
.lower-header {
  width: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 5px;
  padding: 0px;
  display: flex;
  justify-content: center;
  font-size:larger;
  align-items: center; 
  color: #494a4d; 
}

.profile-pic-deets {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 0px, 20px, 0px, 20px;
}

.largerText {
  font-size: large;
  display: flex;  
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #b7b8bd;
  font-weight:bolder;
  margin-top: 5px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.buttonsCenter {
  display: block;
  width: 100%;
  border: none;
  color: white;
  padding: 0px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.img {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box; 
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

.bio {
  display: flex;
  font-size: larger;
  box-sizing: border-box; 
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

h1, h3, h4, h5, h6 {
  text-align: center;
  color: #606164;
}

h2 {
  text-align: center;
  color: #606164;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table {
  width: auto;
  border-collapse: collapse;
  margin: 0px 20px 0px 20px;
  text-align: right;
  display: block;
  width: 100%;
  border: none;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

th {
  padding: 12px 0px;
  color: #ffffff;
  background: linear-gradient(#b8bac2, #9a9ca2);
}
td, th {
  border: 1px solid black;
  padding: 10px;
}


tr:nth-child(even) {
  background-color: #a5a5a7;
}

tr:hover {
  background: linear-gradient( #494a4d, #b7b8bd #474747);
  color: #b7b8bd;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  width:max-content;
  height: 50px;
  margin: 10px 10px;
  font-weight: 800;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color:rgb(69, 67, 67);
  background-color:  #606164;background: linear-gradient( rgb(222, 221, 221), white, rgb(222, 221, 221), #b7b8bd);
}

.container{
  margin: 10px;
  padding: 10px;
  background-color: #eaedf2;
  background-position: center;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.bio-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px, 10px, 0px, 10px;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: larger;
}

.error-text {
  color: red;
  margin-left: 10px;
}
.deleteBtn {
  color: red;
  background-color: gray;
}

.debug {
  border: 1px solid rgb(142, 6, 6);
  font-weight: 200;
}

img {
  width: 300px; 
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.center {
  text-align: center;
}

hr {
  margin: 25px;
}

.imgSmall {
  max-width: 180px;
  min-width: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box; 
  margin-bottom: 0px;

}

