
.App {
  max-width: 100pc;
  font-size: x-small;
  margin: 10pt;
  border-radius: 5px;
  background: linear-gradient(#f8f6f6, #838181);
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: auto;
  margin: 10px;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  font-size:x-large;
  font-family: serif;
}

.largerText {
  font-size: large;
  display: flex;  
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #2462dd;
  font-weight:bolder;
  margin-top: 5px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.buttonsCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  padding: 0px;
}

h1, h3, h4, h5, h6 {
  text-align: center;
  color: #2462dd;
}

h2 {
  text-align: center;
  color: #2462dd;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: auto;
  border-collapse: collapse;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
}

th {
  padding: 12px 0px;
  color: #ffffff;
  background: linear-gradient(#6092F5, #2462dd);
}
td, th {
  border: 1px solid black;
  padding: 10px;
}


tr:nth-child(even) {
  background-color: #cfcfcf;
}

tr:hover {
  background: linear-gradient(#6092F5, #2462dd);
  color: #ffffff;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width:max-content;
  margin: 10px 10px;
  font-weight: 300;
  font-family:Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  background-color: #00A2ED;background: linear-gradient(#AAC5FC, #FFFFFF);
}

.error-text {
  color: red;
  margin-left: 10px;
}
.deleteBtn {
  color: red;
  background-color: gray;
}

.debug {
  border: 1px solid rgb(142, 6, 6);
  font-weight: 200;
}

img {
  width: 300px; 
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

hr {
  margin: 25px;
}

